body {
  width: 100vw;
  height: 100vh;
}
div[class="wrapper"] {
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  grid-auto-rows: 200px;
  grid-auto-columns: 200px;
}

div[class="wrapper"] div {
  background-color: aquamarine;
}

div[class="wrapper"] div:nth-child(2n) {
  background-color: cadetblue;
  font-size: 2rem;
}
